﻿@model AntiMethodWebSite.Models.Post

@{
    ViewData["Title"] = "Создать пост";
}


    <h1>Создать пост</h1>
    <hr />
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PostType" class="control-label"></label>
            <select asp-for="PostType"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<PostType>()">
                <option value=@ViewBag.TypeValue>@ViewBag.Type</option>
            </select>
            <span asp-validation-for="PostType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Главное изображение</label><br />
            <input type="file" accept="image/*" name="uploadedFile" required />
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control content-editor"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index" class="text-light">На главную</a>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var $summernote = $('.content-editor').summernote({
            height: 300,
            lang: 'ru-RU',
            minHeight: null,             // set minimum height of editor
            maxHeight: null,
            dialogsInBody: true,
            callbacks: {
                onImageUpload: function (files) {

                    var url = '@Url.Action("UploadFile", "Post")';

                    formData = new FormData();
                    formData.append("aUploadedFile", files[0]);
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: formData,
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (FileUrl) {
                            $summernote.summernote('insertImage', FileUrl, function ($image) {
                                $image.attr('src', FileUrl);
                            });
                        },
                        error: function (data) {
                            alert(data.responseText);
                        }
                    });
                }
            }
        });
</script>
