﻿@model AntiMethodWebSite.Models.Post

@{
    ViewData["Title"] = "Delete";
}


    <h1>Удалить</h1>

    <h3>Уверены, что хотите удалить этот пост?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index" class="text-light">Назад</a>
        </form>
    </div>