﻿@model AntiMethodWebSite.Models.PostViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = Model.Post.Title;
}

<h1 class="mt-4">@Html.DisplayFor(model => model.Post.Title)</h1>
<small>@Html.DisplayFor(model => model.Post.PostType)</small>
<br />
<small>Написал @Html.DisplayFor(model => model.Post.Author.UserName)</small>
<hr class="text-light bg-light" />
<img class="img-fluid rounded" src="@Html.DisplayFor(model => model.Post.ImagePath)" alt="http://placehold.it/900x300">
<hr class="text-light bg-light" />
@Html.Raw(Model.Post.Content)
<hr class="text-light bg-light" />
<small>Создано @Html.DisplayFor(model => model.Post.CreationDate)</small>
<hr class="text-light bg-light" />

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    @if (user == Model.Post.Author || await UserManager.IsInRoleAsync(user, "Moderator") || await UserManager.IsInRoleAsync(user, "Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="text-light">Редактировать</a> |
            <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="text-light">Удалить</a>
        </div>
        <hr class="text-light bg-light" />
    }
    <div>
        <form asp-action="Comment">
            <input type="hidden" name="postId" value=@Model.Post.Id />
            <div class="form-group">
                <label class="control-label"></label>
                <input type="text" class="form-control" name="content" required />
                <span class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Прокомментировать" class="btn btn-success" />
            </div>
        </form>
    </div>
    <br />
}
else
{
    <div>
        <h4>Войдите, чтобы комментировать.</h4>
    </div>
}

@if (Model.Comments != null && Model.Comments.Any())
{
    foreach (var comment in Model.Comments.OrderByDescending(c => c.CreateDate))
    {
        <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">@(comment.Author == null ? Html.Raw("Комментатор удален") : Html.Raw(comment.Author.UserName) )</strong>
                <small>@comment.CreateDate</small>

                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.GetUserAsync(User);
                    if (user == comment.Author || await UserManager.IsInRoleAsync(user, "Moderator") || await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                    <a class="ml-2 mb-1 close" href="@Url.Action("DeleteComment", "Post", new { id = comment.Id, postId = Model.Post.Id })">
                        &times;
                    </a>
                    }
                }
            </div>
            <div class="toast-body">
                <p class="text-light">@comment.Content</p>
            </div>
        </div>
    }
}
else
{
    <div>
        <h3>Комментариев пока нет</h3>
    </div>
    <br />
}
<br />
