﻿@model IEnumerable<AntiMethodWebSite.Models.Post>

@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="my-4">
    <h1>@ViewBag.Title</h1><a asp-action="Create" asp-route-type=@ViewBag.Title asp-route-value="@ViewBag.PostType">Создать пост</a>
</div>

@foreach (var post in Model)
{
    <div class="card mb-4">
        <img class="card-img-top" src="@post.ImagePath" alt="http://placehold.it/750x300">
        <div class="card-body">
            <span class="badge badge-pill badge-light">@Html.DisplayFor(modelItem => post.PostType)</span>
            <h2 class="card-title">@Html.DisplayFor(modelItem => post.Title)</h2>
            @*<p class="card-text">@Html.DisplayFor(modelItem => post.Content)</p>*@
            <a asp-action="Details" asp-route-id="@post.Id" class="btn btn-secondary">Перейти &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Создано | @Html.DisplayFor(modelItem => post.CreationDate)
            @if (post.Author != null)
            {
                @Html.Raw(" | Автор ") @Html.DisplayFor(modelItem => post.Author.UserName)
            }
            @if (post.EditDate.HasValue)
            {
                @Html.Raw(" | Изменено ") @Html.DisplayFor(modelItem => post.EditDate.Value)
            }
        </div>
    </div>
}

@{
    var prevDisabled = !(ViewBag.PageNumber > 1) ? "disabled" : "";
    var nextDisabled = !(ViewBag.PageNumber < ViewBag.TotalPages) ? "disabled" : "";
}

@*<ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>*@
<ul class="pagination justify-content-center mb-4">
    <li class="page-item @prevDisabled">
        <a asp-action=@ViewBag.ReturnUrl
           asp-route-pageNumber=@(ViewBag.PageNumber - 1)
           class="page-link">
            &larr; Назад
        </a>
    </li>
    <li class="page-item @nextDisabled">
        <a asp-action=@ViewBag.ReturnUrl
           asp-route-pageNumber=@(ViewBag.PageNumber + 1)
           class="page-link">
            Вперед &rarr;
        </a>
    </li>
</ul>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EditDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @if (item.EditDate.HasValue)
                    {
                        @Html.DisplayFor(modelItem => item.EditDate)
                    }
                    else
                    {
                        @Html.Raw("Не редактировалось");
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>*@
