﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AntiMethod</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    @Html.Partial("_Favicons")

    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.1-web/css/all.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.min.css" />
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/summernote/lang/summernote-ru-RU.min.js"></script>
    <script type="text/javascript" src="https://wow.zamimg.com/widgets/newsfeed.js"></script>
    <script src="https://discord.com/api/guilds/755172580117315695/widget.json"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Post" asp-action="Index"><img src="~/logo.png" alt="AntiMethod" class="img-fluid" style="height:50px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Post" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Post" asp-action="News">Новости</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Post" asp-action="Tactics">Тактики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Post" asp-action="Logs">Логи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Post" asp-action="Other">Прочее</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Rating" asp-action="Index">Рейтинг</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="https://www.tinkoff.ru/sl/9LsQeXSWF9e" target="_blank">Поддержать сервер</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-4" style="padding-top:81px">
                <div class="card my-4">
                    <h5 class="card-header">Важное!</h5>
                    <div class="card-body">
                        <a href="@Url.Action("Details", "Post", new { id = 4 })" class="text-light">Краткий экскурс по сайту</a>
                        <br />
                        <a href="https://www.tinkoff.ru/sl/9LsQeXSWF9e" class="text-light" target="_blank">Поддержать сервер рублем</a>
                    </div>
                    <div class="card-footer">
                        @*<a href="https://discord.gg/VhkbeT8XrU" target="_blank" class="fab fa-discord text-light"></a>*@
                    </div>
                </div>
                @*<div class="whnews">
                </div>*@
                <div>
                    <iframe src="https://discord.com/widget?id=755172580117315695&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AntiMethod
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $WowheadNewsFeed.fetch(function (contents) {
            $('.whnews').html(contents);
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
