﻿@model AdminViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Администрирование";
}

<h1>Рейтинг</h1>
<br />
<h2>Пользователи</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя пользователя
            </th>
            <th>
                Ранг
            </th>
            <th>
                Рейдерство
            </th>
            <th>
                Авторство
            </th>
            <th>
                Модерирование
            </th>
            <th>
                Администрирование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            var canDemote = user.Rank > Rank.NotRanked;
            var canPromote = user.Rank < Rank.GuildMaster;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Rank)
                    @if (canDemote)
                    {
                        <a asp-action="Demote" asp-route-name="@user.UserName" class="text-light">Понизить</a>
                    }
                    @if (canPromote)
                    {
                        <a asp-action="Promote" asp-route-name="@user.UserName" class="text-light">Повысить</a>
                    }
                </td>
                <td>
                    @if (!await UserManager.IsInRoleAsync(user, "Raider"))
                    {
                        <a asp-action="AddRole" asp-route-name="@user.UserName" asp-route-role="Raider" class="text-light">Сделать рейдером</a>
                    }
                    else
                    {
                        <a asp-action="DeleteRole" asp-route-name="@user.UserName" asp-route-role="Raider" class="text-light">Удалить из рейдеров</a>
                    }
                </td>
                <td>
                    @if (!await UserManager.IsInRoleAsync(user, "Author"))
                    {
                        <a asp-action="AddRole" asp-route-name="@user.UserName" asp-route-role="Author" class="text-light">Сделать автором</a>
                    }
                    else
                    {
                        <a asp-action="DeleteRole" asp-route-name="@user.UserName" asp-route-role="Author" class="text-light">Удалить из авторов</a>
                    }
                </td>
                <td>
                    @if (!await UserManager.IsInRoleAsync(user, "Moderator"))
                    {
                        <a asp-action="AddRole" asp-route-name="@user.UserName" asp-route-role="Moderator" class="text-light">Сделать модером</a>
                    }
                    else
                    {
                        <a asp-action="DeleteRole" asp-route-name="@user.UserName" asp-route-role="Moderator" class="text-light">Удалить из модеров</a>
                    }
                </td>
                <td>
                    @if (!await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <a asp-action="AddRole" asp-route-name="@user.UserName" asp-route-role="Admin" class="text-light">Сделать админом</a>
                    }
                    else
                    {
                        <a asp-action="DeleteRole" asp-route-name="@user.UserName" asp-route-role="Admin" class="text-light">Удалить из админов</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<hr class="text-light bg-light" />
<br />

<br />
<h2>Посты</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Дата
            </th>
            <th>
                Пост
            </th>
            <th>
                Редактировать
            </th>
            <th>
                Удалить
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>
                    @post.Title
                </td>
                <td>
                    @post.CreationDate
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="text-light">Перейти</a>
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="text-light">Редактировать</a>
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" class="text-light">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>